<!doctype html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <style>
            
            .image {
                height: 450px;
                width: 100%;
            }
            
            #progress {
                color: green;
                width: 100%;
            }
            
        </style>

    </head>

    <body>

        <!-- Jumbotron Header -->
        <div class="jumbotron jumbotron-fluid" style="background-color: #17ABF6;">
            <div class="container">
                <h1 class="display4">
                        Meme Clicker Game
                </h1>
            </div>
        </div>

    </body>

</html>