<!doctype html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <style>
            
            .image {
                height: 450px;
                width: 100%;
            }

            .sep {
                border-style: solid;
                border-color: black;
                border-width: 5px;
            }

            .bold-text {
                text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
            }
            
            #progress {
                color: green;
                width: 100%;
            }
            
        </style>

    </head>

    <body>

        <!-- Jumbotron Header -->
        <div class="jumbotron jumbotron-fluid" style="background-color: #17ABF6;">
            <div class="container">
                <h1 class="display-3 bold-text" style="font-family: Impact; color: white">
                        Meme Clicker Game
                </h1>
            </div>
        </div>

        <!-- This row contains meme image and Player Stats -->
        <div class="container">
            <div class="row">
                
                <!-- Left pane has two rows, one for meme image and one for meme health -->
                <div class="col-md-6">
                    
                    <!-- Section where meme appears -->
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="sep">
                                <img class="image" src="images/meme_1.jpg" onclick="attack(1)" name="randImage">
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- Section where health bar appears -->
                    <div class="row mt-3">
                        
                        <div class="col-md-4">
                            
                        </div>
                        
                        <div class="col-md-4">
    
                            <progress class="progress" id="health" value="5" max="5"></progress>
                            
                        </div>
                        
                        <div class="col-md-4">
                            
                        </div>

                    </div>
                
                </div> <!-- /col-md-6 -->

                <div class="col-md-6 sep">

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h3>Kill 5 memes to level up!</h3>
                            <hr>
                        </div>
                    </div>
                    
                    <!-- Display player level -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>You are a level <b><span id="level">0</span></b> meme killer.</p>
                        </div>
                    </div>
                    
                    <!-- Display player kill stats -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>You have killed <b><span id="memes_killed">0</span></b> memes!</p>
                        </div>
                    </div>

                    <!-- Display meme health -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>Meme health: <b><span id="memes_health">5</span></b></p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        </br>

    </body>

    <script>
    
        var health = document.getElementById("health");
        var memesHealth = 5;
        var memesKilled = 0;
        var level = 0;
            
        var memeImages = new Array();
        
        memeImages.push("images/meme_1.jpg");
        memeImages.push("images/meme_2.png");
        memeImages.push("images/meme_3.png");
        memeImages.push("images/meme_4.png");
        memeImages.push("images/meme_5.png");
        memeImages.push("images/meme_6.png");
        memeImages.push("images/meme_7.png");
        memeImages.push("images/meme_8.png");
        memeImages.push("images/meme_9.png");
        memeImages.push("images/meme_10.png");
        memeImages.push("images/meme_11.png");
        memeImages.push("images/meme_12.png");
        memeImages.push("images/meme_13.png");
        memeImages.push("images/meme_14.png");
        memeImages.push("images/meme_15.png");
        memeImages.push("images/meme_16.png");
        memeImages.push("images/meme_17.png");
        memeImages.push("images/meme_18.png");
        memeImages.push("images/meme_19.png");
        memeImages.push("images/meme_20.png");
            
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
            
        function randMemeImage() {
            document.randImage.src = memeImages[getRandomInt(0, memeImages.length - 1)];
        }

        function levelUp(memesKilled) {
            if (memesKilled % 5 == 0) {
                level = level + 1;
                document.getElementById("level").innerHTML = level;
                memesHealth = memesHealth + 1;
                document.getElementById("memes_health").innerHTML = memesHealth;
                health.value = health.value + 1;
                health.max = health.max + 1;
            }
        }

        function attack(number) {
                
            health.value = health.value - number;
                
            if (health.value == 0) {
                memesKilled = memesKilled + 1;
                levelUp(memesKilled);
                document.getElementById('memes_killed').innerHTML = memesKilled;
                randMemeImage();
                health.value = memesHealth;
            }
    
        }
    
    </script>

</html>